<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wsit.rentguru24">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rg_th"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="wsit.rentguru24.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"/>
        <activity
            android:name="wsit.rentguru24.activity.SearchActivity"
            android:label="@string/search_product_text"
            android:launchMode="singleTop"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="wsit.rentguru24.activity.StartupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="wsit.rentguru24.activity.PostProductActivity"
            android:label="@string/title_activity_post_product"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="wsit.rentguru24.activity.ProductDetailsActivity"
            android:label="@string/product_details"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.RentActivity"
            android:label="Place your order"
            android:parentActivityName="wsit.rentguru24.activity.ProductDetailsActivity" />
        <activity
            android:name="wsit.rentguru24.activity.MyProductsListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.RequestedProductsListActivity"
            android:label="My Booking"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.RentRequestOrderDetailsActivity"
            android:label="@string/title_activity_rent_details"
            android:parentActivityName="wsit.rentguru24.activity.RentRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89c5a2211084be4b73e09205c548fc1aac0ca56b" />

        <activity
            android:name="wsit.rentguru24.activity.EditProfileActivity"
            android:label="@string/edit_profile_text"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.PaypalAccountSettingsActivity"
            android:label="@string/paypal_setings_text"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.CategoryActivity"
            android:label="@string/app_name"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.CategoryProductListViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="wsit.rentguru24.activity.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.EditProductActivity"
            android:parentActivityName="wsit.rentguru24.activity.MyProductsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.RentRequestActivity"
            android:label="@string/rent_request"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="wsit.rentguru24.activity.BookingRequestDetailsActivity"
            android:label="@string/my_booking"
            android:parentActivityName="wsit.rentguru24.activity.MyBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name="wsit.rentguru24.activity.MyBookingActivity"
            android:label="@string/my_booking"
            android:parentActivityName="wsit.rentguru24.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>